<h1>Password recovery</h1>

<form action='/users/recovery' method='post'>
  <label for='email'>
    Fill in your email: <input name='email' type='email'>
  </label>
  <input type='submit' value='Send a recovery email'>
</form>
