<form action='/users' method='post'>
  <input type="hidden" name="_method" value="patch">
  <label for='password'>
    Please enter your new password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Password confirmation: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Submit'>
</form>
