<h1><a href="/">Links</a></h1>

<ul id = 'links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tags:
    <% link.tags.each do |tag| %>
      <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
    <% end %>
  </li>
  <% end %>
</ul>

<form action="/links/new" method="GET">
  <input type="submit" value="Create Bookmark">
</form>
