<h1>Submit a link</h1>
<h2>Enter link details</h2>
<form action="/links" method="post">
  <label for="link_name">
    Name:
    <input type="text" name="link_name">
  </label>
  <label for="link_url">
    URL:
    <input type="text" name="link_url">
  </label>
  <label for='tags'>
    Tags:
    <input type='text' name='tags' />
  </label>
  <input type="submit" value="Submit">
</form>
